{% extends 'base.html.twig' %}

{% block title %}
	Maso-Numérique  -
	{{ article.title}}
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
				<div class='alert alert-danger mt-4'>
					{{message}}
				</div>
			{% endfor %}
			
		<h1 class="mt-4">{{ article.title}}</h1>
		
		<p>
			Cet article à une note de
			{{article.moyenne |round(1, 'floor')}}
			/5</p>
		<p class="mt-4">
			{{article.content}}</p>
		<p class="mt-4">
			Auteur :
			{{ article.auteur}}</p>
		<p class="mt-4">Edité le :
			{{article.createdAt|date('d/m/Y')}}</p>
		{% if article.modifiedAt %}
			<p class="mt-4">Modifié le :
				{{article.modifiedAt|date('d/m/Y')}}</p>

		{% else %}
			<p></p>
		{% endif %}
	</div>
	<div class='moyenne'>
		{{form(form)}}
		</div>
	{% endblock %}
